*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 150px);
    gap: 10px;
    margin: 20px;
}
 img{
    width: 100%;
    height: 100%;
}
.card_big{
    grid-column: span 6;
    grid-row: span 2;
}
.card_normal{
    grid-column: span 2;
    grid-row: span 2;
}
.card_small{
    grid-column: span 2;
    grid-row: span 1;
}
.card_smaller{
    grid-column: span 1;
    grid-row: span 1;
}